<form [formGroup]="formGroup">

  <div *ngIf="msgErro" style="float: right;width: 300px;position: fixed;right: 0;top: 53px;">
    <div *ngFor="let erro of messages" class="alert alert-warning" role="alert">
      <strong>{{ erro.fieldName }}:</strong> {{ erro.message }}
    </div>
  </div>

  <div *ngIf="msgSucc" style="float: right;width: 300px;position: fixed;right: 0;top: 53px;">
    <div class="alert alert-success" role="alert">
      <strong>Sucesso:</strong> cadastrado com sucesso.
    </div>
  </div>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input formControlName="nome" type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
  </div>

  <div class="form-group">
    <label for="limiteCredito">Limite de Credito</label>
    <input formControlName="limiteCredito" type="number" class="form-control" name="limiteCredito" id="limiteCredito" placeholder="Limite de Credito">
  </div>

  <div class="form-group">
    <label for="risco">Risco</label>
    <select class="form-control" id="risco" name="risco" formControlName="risco">
      <option value="">Selecione o risco</option>
      <option *ngFor="let risco of riscos" [value]="risco">{{risco}}</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="insert()">Salvar</button>

</form>